body {
  background-color: #fafafa;

  .main {
    .margin-value {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      position: relative;
      margin: 100px 240px;
      z-index: 2;

      .feeds-align {
        display: flex;
        flex-direction: column;

        .feeds-setting {
          width: 655px;
          border: 1px solid #dbdbdb;
          margin-right: 30px;
          background-color: #fff;
          border-radius: 3px;
          margin-bottom: 15px;

          .title-profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 10px;

            > img {
              width: 35px;
              border: 1px solid #dbdbdb;
              border-radius: 50%;
            }

            .dot {
              width: 18px;
              margin-left: 490px;
            }

            span {
              padding-top: 2px;
              font-size: 16px;
              font-weight: bold;
              margin-left: 10px;

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          .main-image {
            width: 100%;
          }

          .feeds-contents {
            margin: 6px 13px;

            .feeds-icons {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              margin: 7px 0 10px;

              svg {
                cursor: pointer;
              }

              svg:not(:first-child) {
                width: 23px;
                height: 23px;
              }

              svg:not(:last-child) {
                margin-right: 12px;
              }

              .heart-icon {
                width: 24.5px;
                height: 24.5px;
              }

              .save-icon {
                margin-left: 500px;
              }
            }

            .feeds-like {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 10px 0 12px;

              img {
                width: 22px;
                border: 0.5px solid #dbdbdb;
                border-radius: 50%;
              }

              span {
                margin-top: 2.5px;
                margin-left: 3px;
                font-size: 14.5px;
              }

              span .like-bold {
                font-weight: bold;
              }
            }

            .feeds-writing {
              .comment-id {
                font-weight: bold;
              }

              span {
                font-size: 14.5px;
              }

              span .comment-id {
                font-weight: bold;
              }
            }

            .time {
              font-size: 12.5px;
              color: #8e8e8e;
            }
          }
        }
      }

      .main-right {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-bottom: 30px;
        top: 100px;
        right: 240px;
        width: 280px;
        height: 500px;
        z-index: 1;

        .story {
          height: 300px;
          margin-bottom: 10px;
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          background-color: white;
          overflow: auto;
        }

        .recommend {
          background-color: white;
          height: 200px;
          border: 1px solid #dbdbdb;
          border-radius: 2px;
          overflow: auto;
        }

        .information {
          font-size: 14px;
          color: #c7c7c7;

          p {
            margin-top: 13px;
          }
        }

        .user {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 15px;

          > img {
            width: 50px;
            border: 1px solid #e6e6e6;
            border-radius: 50%;
          }

          div {
            margin-left: 10px;
          }

          .user-id {
            font-size: 15px;
            font-weight: bold;
          }

          .user-name {
            font-size: 13px;
            color: #8e8e8e;
            margin-top: 3px;
          }
        }

        .story {
          .story-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: fixed;
            width: 278px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: bold;
            color: #262626;
            background-color: #fff;
            opacity: 0.9;

            span:first-child {
              font-size: 14px;
              color: #8e8e8e;
            }
          }

          .story-down {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 15px;

            .story-contents {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0 13px 5px;

              .gradient {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: radial-gradient(
                  circle at bottom left,
                  #f58529 20%,
                  #c42d91
                );
              }

              img {
                width: 36px;
                height: 36px;
                border: 2px solid #fff;
                border-radius: 100%;
              }

              p {
                margin-left: 7px;
              }

              .user-id {
                font-size: 15px;
                font-weight: bold;
              }

              .user-name {
                font-size: 13px;
                color: #8e8e8e;
                margin-top: 3px;
              }
            }
          }
        }

        .recommend {
          .recommend-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: fixed;
            width: 278px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: bold;
            color: #262626;
            background-color: #fff;
            opacity: 0.9;

            span:first-child {
              font-size: 14px;
              color: #8e8e8e;
            }
          }

          .recommend-down {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            margin-bottom: 15px;
            bottom: 40px;

            .recommend-contents {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              margin: 0 13px 5px;

              &::after {
                content: "팔로우";
                margin-left: 33px;
                color: #0095f6;
                font-size: 13px;
                font-weight: bold;
              }

              > img {
                width: 37px;
                border-radius: 50%;
              }

              p {
                margin-left: 7px;
              }

              .user-id {
                font-size: 15px;
                font-weight: bold;
              }

              .user-name {
                margin-top: 3px;
                font-size: 13px;
                color: #8e8e8e;
              }
            }
          }
        }
      }
    }
  }
  .fas {
    color: #ed4956;
  }
}
