/* login button */
.loginBtn {
  width: 268px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background-color: #c0dffd;
  border-radius: 4px;

  .active {
    background-color: #0095f6;
    cursor: pointer;
    font-weight: bold;
  }

  a {
    display: block;
    padding: 0;
  }
}

/* icons */
.icon {
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-size: cover;
}

.small_icon {
  width: 12px;
  height: 12px;
}

.homeBtn {
  background-image: url("../assets/icons/house-black-silhouette-without-door.png");

  .focus {
    background-image: url("../assets/icons/home.svg");
    background-color: transparent;
  }
}

.dmBtn {
  background-image: url("../assets/icons/send.png");
}

.recommendBtn {
  background-image: url("../assets/icons/compass.png");
}

.statusBtn {
  cursor: pointer;
}

.heartBtn {
  font-size: 22px;
  cursor: pointer;

  &.small_icon {
    font-size: 12px;
  }
}

.fas.fa-heart {
  color: red;
}

.comment {
  background-image: url("../assets/icons/commentary.png");
}

.bookmark {
  background-image: url("../assets/icons/bookmark.png");
}

.details {
  background-image: url("../assets/icons/more.png");
}

.emoji {
  background-image: url("../assets/icons/smile.png");
  cursor: pointer;
}

.showNext {
  background-image: url("../assets/icons/next.png");
  border-radius: 50%;
  border: 2px solid #fff;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 22px 6px rgba(0, 0, 0, 0.39);
  cursor: pointer;
  opacity: 0.9 !important;
  background-color: #fff;
}

.tagged {
  background-image: url("../assets/icons/profile-user.png");
}

/* buttons */
.Btn {
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #0095f6;
  cursor: pointer;
}

.inactive.Btn {
  color: #dff2fe;
  cursor: default;
}

.suggestTitle .Btn {
  color: #000;
  padding-right: 6px;
}
