.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 22px;
  cursor: pointer;

  &.medium {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 10px;
    background: linear-gradient(to bottom right, #f58529 20%, #c42d91);
  }

  &.large {
    width: 74px;
    height: 74px;
    margin: 0;
    margin-bottom: 8px;
    background: linear-gradient(to bottom right, #f58529 20%, #c42d91);
  }
}

.profileImg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 66px;
    height: 66px;
  }
}

/*? 이렇게 클래스로 따로 주는게 더 좋은가 */
.focus {
  background-color: #000;
}
