@mixin flex-space-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sideBar {
  .profileChange {
    @include flex-space-between();

    .currnetProfile {
      @include flex-start-center();
      margin: 18px 0 22px 0;

      .profileImg {
        margin-right: 12px;
      }
    }
  }

  .suggestions {
    .suggestTitle {
      @include flex-space-between();
      margin-bottom: 12px;

      .userID {
        margin-right: 6px;
      }
    }

    .suggestedProfiles {
      display: flex;
      flex-direction: column;

      .suggestedProfile {
        @include flex-space-between();
        margin: 8px 0;

        .userID {
          margin-bottom: 4px;
        }

        .otherProfile {
          @include flex-start-center();

          .profileWrapper {
            margin-left: 12px;
          }

          .suggestProfileDetails {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .serviceDetails {
    display: flex;
    flex-direction: column;

    .serviceLinks {
      margin-bottom: 15px;

      .serviceLink li {
        float: left;

        &::after {
          content: "\00B7";
          margin: 0 0.25em;
        }

        &:last-child::after {
          content: none;
        }
      }
    }
  }
}
