.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  border-top: 1px solid #dbdbdb;

  .typing-comment {
    width: 300px;
    margin-left: 10px;
    font-size: 14px;
  }

  button {
    margin-right: 10px;
    color: #bfe0fd;
    font-size: 14px;
  }

  button.active {
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
  }
}
