.commentDiv {
  width: 575px;
  margin-top: 3px;
  display: inline-block;

  .comment-id {
    font-size: 14.5px;
    font-weight: bold;
  }

  .comment-writing {
    margin-left: 5px;
    width: 200px;
  }

  img {
    width: 22px;
    border: 0.5px solid #dbdbdb;
    border-radius: 50%;
  }

  span {
    font-size: 14.5px;
  }
}
