.loginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loginContainer {
    display: inline-block;
    border: 1.5px solid #e6e6e6;
    background-color: #fff;
    text-align: center;

    .userInfo {
      display: flex;
      flex-direction: column;
      margin: 45px;
    }
  }
}
