/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #fafafa;
  --color-dark-white: #dbdbdb;
  --color-light-blue: #b2dffc;
  --color-regular-blue: #0095f6;
  --color-dark-blue: #4f7599;
}

.login {
  position: relative;
  width: 400px;
  top: 100px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 1px solid var(--color-dark-white);
  background-color: var(--color-white);
  .title {
    display: flex;
    justify-content: center;
    margin: 40px 0 50px 0;
    font-size: 50px;
    font-family: "Lobster";
  }
  .login-container {
    margin-top: 50px;
    #login-form {
      input {
        display: block;
        width: 300px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 5px;
        background-color: var(--color-light-white);
        border: 1px solid var(--color-dark-white);
        border-radius: 3px;
      }
      input {
        display: block;
        width: 300px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 5px;
        background-color: var(--color-light-white);
        border: 1px solid var(--color-dark-white);
        border-radius: 3px;
      }
    }
    .btn {
      width: 300px;
      display: block;
      margin: 0 auto;
      margin-top: 8px;
      padding: 10px;
      border: none;
      border-radius: 3px;
      background-color: var(--color-light-blue);
      cursor: pointer;
      &.active {
        background-color: var(--color-regular-blue);
      }
      span {
        color: var(--color-white);
        font-size: 14px;
      }
    }
  }
  p {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: var(--color-dark-blue);
    font-size: 14px;
    cursor: pointer;
  }
}
