.login {
  .background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 348px;
    margin: 80px auto;
    padding: 10px;
    border: 1.5px solid #e6e6e6;
    background-color: #fff;

    h1 {
      margin: 45px 0 55px;
      font-family: Lobster;
      font-size: 45px;
    }

    .forget-pw {
      font-size: 14px;
      margin: 30px 0 40px;
      color: #01376a;
      cursor: pointer;
    }

    .boxes {
      display: flex;
      flex-direction: column;
      width: 255px;
      margin-bottom: 45px;

      input {
        height: 35px;
        margin: 3px 0;
        padding-left: 6px;
        background-color: #fafafa;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        font-size: 12px;
        opacity: 0.8;
      }

      button {
        background-color: #c0dffd;
        width: 100%;
        height: 30px;
        color: #fff;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
      }

      button.active {
        background-color: #0095f6;
        cursor: pointer;
        font-weight: bold;
      }

      input:focus {
        border: 1.2px solid #a8a8a8;
        outline: none;
      }
    }
  }
}
