/* custom */
body {
  background-color: #fafafa;
}

.disappear {
  display: none;
}

/* content-box */
.content-box {
  background-color: #fff;
  border: 1px solid #dbdbdb;
}

/* modules */
.title {
  font-family: Lobster;
}

input {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fafafa;
}
