/* story feed */
.storyFeed {
  position: relative;
  width: 600px;

  .showNext {
    position: absolute;
    top: 40%;
    left: 560px;
  }

  .content-box {
    overflow-x: hidden;
  }

  .stories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 10px;
    transition: all 200ms ease-in-out;

    &.move {
      transform: translateX(-50px);
    }
  }
}

.story {
  margin: 0 5px;
}

.storyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
